<h2>Student Form</h2>

<form (ngSubmit)="submit()">

  Name:<br>
  <input type="text" [(ngModel)]="name" name="name"><br><br>

  Age:<br>
  <input type="number" [(ngModel)]="age" name="age"><br><br>

  Email:<br>
  <input type="email" [(ngModel)]="email" name="email"><br><br>

  Course:<br>
  <input type="text" [(ngModel)]="course" name="course"><br><br>

  <button type="submit">Submit</button>

</form>

<hr>

<h3 *ngIf="students.length > 0">Student List:</h3>

<table border="1" *ngIf="students.length > 0">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Course</th>
  </tr>

  <tr *ngFor="let s of students">
    <td>{{s.name}}</td>
    <td>{{s.age}}</td>
    <td>{{s.email}}</td>
    <td>{{s.course}}</td>
  </tr>
</table>
